.main {
    display: grid;
    /* grid-template-columns: max-content max-content max-content max-content; */
    /* grid-template-rows: 50% 30% 20% 5%; */
    /* padding: 10px; */

    /* grid-template-columns: repeat(3, 200px); */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: max-content max-content max-content max-content;
    /*3 columns of 200px */
    /* grid-template-rows: auto minmax(200px, auto); */
    /* minimun height of row if 200px and height can go till auto */
    background-color: rgb(231, 231, 231);
    height: 50vh;
}

.child {
    height: 100px;
    width: 100px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(229, 21, 57);
    font-size: 30px;
    text-align: center;
    color: white;
    /* margin: 5px; */
    border-radius: 20px;
}

.one {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/3; */

    /* define grid col-start-end and row-start and row-end  in area property*/
    /* grid -area: row-start/col-start/row-end/col-end */
    grid-column: 1/3;
    width: auto;
}

.four {
    grid-area: 2/1/4/3;
    height: auto;
    width: auto;
}

@media screen and (max-width:1000px) {
    .main {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
}

@media screen and (max-width:800px) {
    .main {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }
}

@media screen and (max-width:600px) {
    .main {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        min-width: 400px;
    }
}

body {
    margin: 0;
}

.new-main {
    background-color: bisque;
    height: 100vh;
    display: grid;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.new-child {
    text-align: center;
    /* border: 1px solid black; */
    height: 100px;
}

.third {
    height: 100%;
    width: 100%;
    grid-area: 1/3/3/4;
}

.seven {
    height: 100%;
    width: 100%;
    grid-area: 3/1/5/3;
    display: grid;
    grid-template-columns: auto auto auto;
}

/* 
.new-child-seven {
    /* border: 1px solid black; 
} */

.twelth {
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 4;
}